@import "_style.scss";

.intro-wrap{
    background-color: aqua;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.intro-title{
    flex-direction: column;
    @include padding-bottom--lg;
}

.intro-title__main{
    @include font--2xl;
}

.intro-title__sub{
    @include font--md;
}

.intro-button-group{
    background-color: antiquewhite;
}